





#NatureImage1 {
    
}

.NatureImage1 {
    
}

.Image4Div {
    
}

.ImageFourDiv {
    margin-left:600px;
    margin-top:-540px;
}

.QuoteFour {
    width:275px;
    background-color: white;
}

.Image3Div {
    margin-left:600px;
   margin-top:-250px;
}

.FirstPic {
}

.QuoteThree {
    width: 275px;
    background-color: white;
}

.Image2Div {
    margin-top:50px;
    margin-left: 150px
}

.QuoteTwo {
    width:275px;
    background-color: white;
}

.QuoteOne {
    width: 275px;
    background-color: white;
    margin-top:20px;
}

.Image1Div {
    margin-left:150px;
    margin-top:50px
}

h1 {
    margin-left:260
}

.date {
    margin-left: 410;
}

body {
    background-color: yellow
}

.SecondQuote {
    margin-top:
}
